@tailwind base;
@tailwind components;
@tailwind utilities;

.react-json-view svg {
  height: 0.9em !important;
}

@keyframes bellRing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
}

.animate-bell-ring {
  animation: bellRing 0.5s ease-in-out;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type='checkbox'] {
  visibility: hidden;
  @apply rounded-lg w-3.5 h-3.5 relative flex justify-center items-center mt-0.5 cursor-pointer;
}

input[type='checkbox']::before {
  visibility: visible;
  content: '';
  @apply w-full h-full rounded-lg bg-slate-200 border-2 border-gray-500 transition-all;
}

input[type='checkbox']:checked::before {
  visibility: visible;
  content: '';
  @apply w-full h-full rounded-lg bg-white border-4 border-blue-400 transition-all;
}
