@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.react-json-view svg {
  height: 0.9em !important;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type='checkbox'] {
  visibility: hidden;
  @apply rounded-lg w-3.5 h-3.5 relative flex justify-center items-center mt-0.5 cursor-pointer;
}

input[type='checkbox']::before {
  visibility: visible;
  content: '';
  @apply w-full h-full rounded-lg bg-slate-200 border-2 border-gray-500 transition-all;
}

input[type='checkbox']:checked::before {
  visibility: visible;
  content: '';
  @apply w-full h-full rounded-lg bg-white border-4 border-blue-400 transition-all;
}
